* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}



.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f3a5f;
  color: white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 4rem;
}
ul {
  display: flex;
  list-style: none;
}
li:hover{
  background-color: rgb(127, 123, 123);
  border-radius: 1em;
}
.header a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: large;
}
.one {
  text-align: center;
  background-color: white;
  margin: 6rem;
  font-size: x-large;
  font-weight: 600;
  border: 2px solid #1f3a5f;
  border-radius: 36px;
  padding: 50px;
  box-shadow: 10px 20px 20px -15px;
}
.greatting {
  margin-top: 1rem;
  color: gray;
}
.img {
  width: 50%;
  margin-top: -90px;
  padding: 20px;
}

.two {
  text-align: justify;
  padding: 120px;
  display: flex;
  justify-content: space-around;
  font-size: large;
  background-color: rgb(237, 236, 236);
}
.me {
  font-size: larger;
}
.detail {
  font-size: large;
  color: rgb(82, 81, 81);
}

.cards {
  /* background-color:rgb(237, 236, 236); */
  margin-top: -200px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 10%;
  text-align: center;
  justify-content: center;
}
.card {
  border: 2px solid #1f3a5f;
  margin-top: 2rem;
  padding: 20px;
  width: 20%;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 20px 20px -15px;
}

#hobby {
  text-align: center;
  padding: 30px;
  border: 2px solid #1f3a5f;
  box-shadow: 10px 20px 20px -15px;
  border-radius: 2rem;
  margin: 120px;
}

.footer {
  background-color: #1f3a5f;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
}
