* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #1f3a5f;
  color: white;
  margin: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 4rem;
}

ul {
  display: flex;
  list-style: none;
}

.header a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: large;
}
.first {
  text-align: center;
  background-color: white;
  margin-top: 6rem;
  font-size: larger;
}
.first h2 {
  color: gray;
  font-weight: 500;
}
.first button {
  color: white;
  background-color: #1e40af;
  padding: 14px 36px;
  margin: 24px;
  border-radius: 36px;
  font-size: xx-large;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

button:hover {
  background-color: #3f6bcb;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.second {
  background-color: rgb(237, 236, 236);
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  padding: 10%;
}

.card {
  border: 2px solid #ccc;
  padding: 24px;
  width: 30%;
  text-align: center;
  border-radius: 12px;
  box-shadow: 10px 20px 20px -15px;
}

.footer {
  background-color: #1f3a5f;
  color: white;
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
}
